<meta http-equiv="Content-Security-Policy" content="">
<meta name="referrer" content="strict-origin-when-cross-origin">
<meta name="theme-color" content="#f6f3ec">
<meta name="color-scheme" content="light">
<meta name="format-detection" content="telephone=no">
<link rel="icon" href="/kanaftchian.com/favicon.svg" type="image/svg+xml">
<link rel="icon" href="/kanaftchian.com/favicon-32.png" type="image/png" sizes="32x32">
<link rel="apple-touch-icon" href="/kanaftchian.com/apple-touch-icon.png">
<link rel="manifest" href="/kanaftchian.com/site.webmanifest">
<link rel="preload" href="/kanaftchian.com/assets/fonts/manrope-var-latin.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/kanaftchian.com/assets/fonts/instrument-serif-italic-latin.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="/kanaftchian.com/assets/css/main.css?v=dev">
<script></script>
<script src="/kanaftchian.com/assets/vendor/lenis.min.js?v=dev" defer></script>
<script src="/kanaftchian.com/assets/js/sound.js?v=dev" defer></script>
<script src="/kanaftchian.com/assets/js/app.js?v=dev" defer></script>
